# database
data.sql
seed.sql

# Supabase
.branches
.temp
# migrations

# dotenvx
.env.keys
.env.local
.env.*.local

# Supabase
.branches
.temp

# dotenvx
.env.keys

# backups
local_backup/
backup_*.dump
.env.local
.env.*.local
