@use '@scss/abstracts/variables' as *;

:host {
  display: block;

  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
    text-align: center;
    padding: 2rem 0 4rem;

    .social-links {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 1rem;

      a {
        padding: 0 1rem;

        .social-icon {
          display: block;
          width: 2.4rem;
          height: 2.4rem;

          background-color: rgba(var(--text-color), .65);
          mask-position: center;
          mask-repeat: no-repeat;
          mask-size: contain;
          -webkit-mask-position: center;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-size: contain;
        }

        .x-icon {
          mask-image: url('/x-pixel-logo.svg');
          -webkit-mask-image: url('/x-pixel-logo.svg');
        }

        .github-icon {
          mask-image: url('/github-pixel-logo.svg');
          -webkit-mask-image: url('/github-pixel-logo.svg');
        }

        &:active {
          .social-icon {
            background-color: rgba(var(--text-color), 1);
          }
        }
      }
    }

    p {
      max-width: 50rem;

      &.links {
        line-height: 1.5;
        font-size: 1rem;

        a {
          text-decoration: none;
        }
      }
    }
  }

  @media (max-width: $mobile) {
    .inner {
      padding: 2rem;
    }
  }
}
