<div class="inner">
  <div class="social-links">
    <a href="https://x.com/NoMoreLabs" target="_blank" aria-label="X">
      <span class="social-icon x-icon" aria-hidden="true"></span>
    </a>
    <a href="https://github.com/nakamingos/mingoMart" target="_blank" aria-label="GitHub">
      <span class="social-icon github-icon" aria-hidden="true"></span>
    </a>
  </div>

  <p class="links">
    Version: {{ version }}<br />
    Marketplace: <a [href]="explorerUrl + '/address/' + marketAddress" target="_blank"><app-address [address]="marketAddress" /></a><br />

    @if (auctionHouseAddress) {
      Auction House: <a [href]="explorerUrl + '/address/' + auctionHouseAddress" target="_blank"><app-address [address]="auctionHouseAddress" /></a><br />
    }

    Points: <a [href]="explorerUrl + '/address/' + points" target="_blank"><app-address [address]="points" /></a><br />
    <!-- Contributions: <a [href]="explorerUrl + '/address/' + contributions" target="_blank"><app-address [address]="contributions" /></a> -->

    <!-- <br /><br />

    Bridge: <a [href]="explorerUrl + '/address/' + layer1Bridge" target="_blank"><app-address [address]="layer1Bridge" /></a><br />
    Layer 2 Bridge (Magma Sepolia): <a [href]="layer2ExplorerUrl + '/address/' + layer2Bridge" target="_blank"><app-address [address]="layer2Bridge" /></a><br />
    Layer 2 Marketplace (Magma Sepolia): <a [href]="layer2ExplorerUrl + '/address/' + layer2Market" target="_blank"><app-address [address]="layer2Market" /></a> -->
  </p>

  <p i18n>By using this app, you accept all risks associated, including the loss of funds. The creators of Mingo Mart are not liable for any issues or damages that may arise from its use.</p>

  <p i18n>Be Rad. Be Comrade. 🫡</p>
</div>
