<h2 i18n>Attributes</h2>
<div class="accessories">
  @if (item(); as item) {
    @for (attribute of attributes(); track attribute; let i = $index) {
      @if (i > 0) {
        <!-- {{ attribute | json }} -->
        <div class="accessory">
          @if (attribute.v | isNumber) {
            <span class="value">{{ attribute.k }}</span>

            <span class="trait-count">
              <span>{{ (attribute.v) }}</span>
            </span>
          } @else {
            <!-- <span class="trait-name">{{ attribute.k }}</span> -->
            <a
              class="value"
              [routerLink]="['/', 'curated', item.slug, 'market', 'all']"
              [queryParams]="attribute | queryParams">

              <span>{{ attribute.v }}</span>
              @if ((attribute.v | traitRarity : item.slug) | async; as rarity) {
                <span class="percent">
                  ({{ (+(rarity) / (item.collection?.supply || 0)) | percent : '1.1-1' }})
                </span>
              }
            </a>

            <span class="trait-count">
              @if ((attribute.v | traitRarity : item.slug) | async; as rarity) {
                <span>{{ (rarity) + ' ' + item.collection?.name + ' have this.' }}</span>
              }
            </span>
          }
        </div>
      }
    }
  }
</div>
