<app-market-item-billboard
  [marketItem]="(singleMarketItem$ | async)"
  [class.expanded]="billboardExpanded()"
  [style]="{
    'transform': 'translateY(' + ((scrollY$ | async) || 0) + 'px)',
  }">

  <button (click)="expandBillboard()">
    <ng-container *ngTemplateOutlet="expandIcon; context:{ $implicit: billboardExpanded() }" />
  </button>
</app-market-item-billboard>

<div
  class="view-item-wrapper"
  [class.expanded]="billboardExpanded()">

  <app-breadcrumbs [item]="singleMarketItem$ | async" />

  @if ((singleMarketItem$ | async); as item) {
    <div class="inner">

      @if (item.isAuctioned) {
        <app-auction [item]="item" />
      }

      <div class="details-wrapper">
        @if (item.owner) {
          <div class="title-wrapper">
            @if (name$ | async; as name) {
              <h1 i18n>{{ name }}</h1>
            } @else {
              <h1 i18n>{{ item.collection?.singleName }} {{ item.tokenId }}</h1>
            }

            <div class="hash-id">
              <span>Provenance Hash: </span>
              <a [href]="explorerUrl + '/tx/' + item.hashId" target="_blank">
                <app-address [address]="item.hashId" />
              </a>
            </div>

            @if (description$ | async; as description) {
              <div class="description-wrapper">
                <button class="description-toggle" (click)="toggleDescription()">
                  <span i18n>{{ descriptionExpanded() ? 'Hide' : 'View' }} Description</span>
                </button>
                @if (descriptionExpanded()) {
                  <p i18n>{{ description }}</p>
                }
              </div>
            }

            @if (featuredTrait$ | async; as featuredTrait) {
              <h2 i18n>One of {{ featuredTrait.rarity || '----' }}
                @if (featuredTrait.filterable) {
                  <a
                    class="highlight"
                    [routerLink]="['/', 'curated', item.slug, 'market', 'all']"
                    [queryParams]="featuredTrait.attribute | queryParams">
                    {{ featuredTrait.value }}
                  </a>
                } @else {
                  <span class="highlight">{{ featuredTrait.value }}</span>
                }
                {{ item.collection?.name }}.
              </h2>
            }
          </div>

          <div class="split">
            <div class="left">

              <!-- Status -->
              <div class="market-status">
                <h2 i18n>Market Status</h2>

                <app-item-status [item]="item" />
              </div>

              <!-- Actions -->
              <app-item-actions
                [item]="item"
                [disabled]="(indexerIsBehind$ | async) || !item.consensus"
              />

              @if (!(isMobile$ | async) && (config$ | async)?.comments) {
                @defer {
                  <app-comments [mainTopic]="item.hashId" />
                }
              }
            </div>

            <div class="right">
              <div class="accessories-wrapper">
                @if (item.attributes?.length) {
                  <app-item-attributes
                    [item]="item"
                    [collection]="(collection$ | async)"
                  />
                }
              </div>
            </div>
          </div>
        } @else {
          <div class="title-wrapper">
            <h1 i18n>{{ item.collection?.singleName }} doesn't exist. 👎</h1>
            <div class="hash-id">
              <span>Provenance Hash: </span>
              <a [href]="explorerUrl + '/tx/' + item.hashId" target="_blank">
                <app-address [address]="item.hashId" />
              </a>
            </div>
          </div>
        }

        @if ((isMobile$ | async) && (config$ | async)?.comments) {
          @defer {
            <app-comments [mainTopic]="item.hashId" />
          }
        }

        @defer {
          <app-tx-history [item]="item" />
        }
      </div>
    </div>
  } @else {
    <!-- Loading -->
    <div class="inner">
      <div class="details-wrapper">

        <div class="title-wrapper">
          <h1 i18n>Loading...</h1>
          <div class="hash-id">
            <span>Provenance Hash: </span>
            <a><app-address [address]="'0x000000000000000000000'" /></a>
            <h2>&nbsp;</h2>
          </div>
        </div>

        <div class="split">
          <div class="left">
            <div class="market-status">
              <h2 i18n>&nbsp;</h2>
              <p i18n>&nbsp;</p>
              <p i18n>&nbsp;</p>
            </div>
          </div>
          <div class="right">
            <div class="accessories-wrapper"></div>
          </div>
        </div>
      </div>
    </div>
  }
</div>

<ng-template #expandIcon let-expanded>
  @if (billboardExpanded()) {
    <svg height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg"><path d="m0 0h9v3h-6v15h15v-6h3v9h-21zm9 12v3h-3v-3zm3-3v3h-3v-3zm3-3v3h-3v-3zm6-6v6h-3v-3h-3v-3z" fill="rgba(var(--background), 1)" fill-rule="evenodd"/></svg>
  } @else {
    <svg height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg"><path d="m0 0h9v3h-6v15h15v-6h3v9h-21zm9 9v3h3v3h-6v-6zm6-3v3h-3v-3zm3-3v3h-3v-3zm3-3v3h-3v-3z" fill="rgba(var(--background), 1)" fill-rule="evenodd"/></svg>
  }
</ng-template>
