// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Pizzascript';
  src: url('/fonts/Pizzascript10px-Regular.woff2') format('woff2'),
       url('/fonts/Pizzascript10px-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  size-adjust: 150%;
}
