@if (marketType) {

  @let data = marketItemData |
  attributeFilter : traitFilters : slug : (collections$ | async) |
  sort: activeSort : marketType;

  @if (data) {
    @for (
      marketItem of data;
      track marketItem.event?.txId || marketItem.sha;
      let i = $index;
    ) {
      @if (i < limit) {
        <ng-container *ngTemplateOutlet="marketItemTemplate; context:{ $implicit: marketItem, index: i }" />
      }
    } @empty {
      @for (i of limitArr; track i) {
        <div class="item">
          <div class="item-link">
            <div class="image-wrapper">
              <img [src]="'/loadingmingo.gif'" width="50" height="50" />
            </div>

            @if (viewType === 'market') {
              <div class="labels-wrapper">
                <div class="label">Loading...</div>
                <div class="label">&nbsp;</div>
              </div>
            }
          </div>
        </div>
      }
    }
  }

  @if (marketItemData && marketItemData.length && observe && showLoadMore && marketType === 'all') {
    <div class="item more">
      <!-- <button>Load More</button> -->
      <div class="image-wrapper">
        <button class="load-more" (click)="loadMore()">Load <br />More</button>
      </div>
    </div>
  }

  <ng-template #marketItemTemplate let-marketItem let-i="index">
    <div
      class="item"
      (waIntersectionObservee)="onIntersection($event)"
      [class.selected]="selected[marketItem.hashId]"
      [attr.data-index]="i"
      [class.bridged]="
        (marketType === 'owned' && viewType === 'market') &&
        marketItem.isBridged
      "
      [class.in-escrow]="
        (marketType === 'owned' && viewType === 'market') &&
        marketItem.owner === escrowAddress && !marketItem.listing
      "
      [class.wrapped]="
        (marketType === 'owned' && viewType === 'market') &&
        marketItem.event?.type === 'wrapped'
      "
      [class.listing]="
        (
          marketType === 'listings' ||
          ((marketType === 'owned' || marketType === 'all') && viewType === 'market')
        ) && marketItem.listing
      "
      [class.auction]="
        (
          marketType === 'auctions' ||
          ((marketType === 'owned' || marketType === 'all') && viewType === 'market')
        ) && marketItem.auction
      ">

      @if (selectable) {
        <div class="selector">
          <input
            #marketItemCheck
            type="checkbox"
            [id]="'checkbox-' + marketItem.tokenId"
            [checked]="selected[marketItem.hashId]"
            [attr.data-hash-id]="marketItem.hashId"
            (change)="selectMarketItem(marketItem)"
          />

          <label [for]="'checkbox-' + marketItem.tokenId"></label>
        </div>
      }

      <a
        class="item-link"
        [routerLink]="['/', 'details', marketItem.hashId]">

        <div class="image-wrapper" [class.transparent-background]="hasTransparentBackground(marketItem)">
          <img
            [lazyLoad]="marketItem | imageUrlPipe"
            [defaultImage]="'/loadingmingo.gif'"
            [style.--item-base-background]="baseImageBackgroundColor(marketItem)"
            width="50"
            height="50"
          />
        </div>

        @if (showLabels && viewType === 'market') {

          @if (activeSort === 'rank-high' || activeSort === 'rank-low') {
            @if (marketItem | rank; as rankData) {
              @if (rankData.value || rankData.value === 0) {
                <div class="rank-wrapper" [style.background-color]="rankData.color">
                  <div class="rank">{{ rankData.value }}</div>
                </div>
              }
            }
          }

          <div class="labels-wrapper">
            <div class="label">#{{ marketItem.tokenId }}</div>

            @if (
              marketType === 'listings' ||
              marketType === 'owned' ||
              marketType === 'all'
            ) {
              @if (marketItem.listing; as listing) {
                <p i18n>
                  {{ (listing.minValue | weiToEth) | number : '1.0-5' }}Ξ<br />
                  ${{ ((listing.minValue | weiToEth) * ((usd$ | async) || 0)) | formatCash }}
                </p>
              }
            }

            @if (
              marketType === 'auctions' ||
              marketType === 'all'
            ) {
              @if (marketItem.auction; as auction) {
                <p i18n>
                  {{ (auction.amount | weiToEth) }}Ξ<br />
                  ${{ ((auction.amount | weiToEth) * ((usd$ | async) || 0)) | formatCash }}
                </p>
              }
            }
          </div>
        }
      </a>
    </div>
  </ng-template>
}
